* {
  margin: 0;
  box-sizing: border-box;
}

ul,
ul li {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

a:hover,
a:hover > * {
  text-decoration: underline;
  text-decoration-thickness: 4px;
}

html {
  --border-width: 4px;
  --border-color: #000;
  --status-light-1: #f2846b;
  --status-light-2: #fcde03;
  --status-light-3: #529fc2;
}

html:has(.status-light-1:hover) {
  --status-light: var(--status-light-1);
}
html:has(.status-light-2:hover) {
  --status-light: var(--status-light-2);
}
html:has(.status-light-3:hover) {
  --status-light: var(--status-light-3);
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Archivo Variable', sans-serif;
  font-variation-settings: 'wdth' 125;
}

.m-24 {
  margin: 24px;
}

@media only screen and (max-width: 31rem) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 189rem) {
  body {
    max-width: 189rem;
    border-left: solid var(--border-width) var(--border-color);
    border-right: solid var(--border-width) var(--border-color);
    margin: 0 auto;
  }
}
